/*--------------------------------
*genarel css
 --------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,700;1,500&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
}

:root {
    --agr-primary-color: #7EB693;
    --agr-text-color: #525C60;
    --agr-heading-color: #274C5B;
    --agr-secondary-color: #EFD372;
    --agr-button-color: #274C5B;
    --agr-heading-font: 'Roboto';
    --agr-subheading-font: 'Yellowtail';
    --agr-text-font: 'Open Sans';
}


/* --------------------------------------
common class
--------------------------------------- */
a {
    text-decoration: none;
    color: var(--agr-button-color);
}

.agr-section-headig h4 {
    color: var(--agr-primary-color);
    font-family: var(--agr-subheading-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.agr-section-headig h2 {
    color: var(--agr-heading-color);
    font-family: var(--agr-heading-font);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.agr-section-headig p {
    color: var(--agr-text-color);
    font-family: var(--agr-text-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;

}

.agr-button {
    font-family: var(--agr-heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--agr-button-color);
    background-color: var(--agr-secondary-color);
    display: inline-flex;
    gap: 10px;
    padding: 28px 39px;
    border-radius: 16px;
    margin-top: 23px;
}

.agr-button:hover {
    background-color: var(--agr-button-color);
    color: #fff;
}



/*------------------------------------
*header css
 ------------------------------------*/
.agr-header {
    padding-top: 54px;
    padding-bottom: 54px;
}

.agr-primary-menu ul {
    display: flex;
    gap: 35px;
    margin: 0;

}

.agr-primary-menu ul li {
    list-style: none;
}

.agr-primary-menu ul li a {
    text-decoration: none;
    color: var(--agr-heading-color);
    font-family: var(--agr-heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px;
}

.agr-header-search {
    width: 65%;
}

.agr-header-search input {
    width: 270px;
    height: 60px;
    border-radius: 36px;
    background: #FAFAFA;
    border: 0;
}

.agr-header-search form {
    position: relative;
}

.agr-header-search form button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 4px;
}

.agr-header-search form input {
    padding-right: 60px;
    padding-left: 50px;
}

.agr-header-search form button i {
    color: #FAFAFA;
    font-size: 21px;
    width: 50px;
    height: 50px;
    background-color: var(--agr-primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.agr-header-cart {
    width: 45%;
}

.agr-header-cart-icon {
    border-radius: 33px;
    border: 1px solid #E0E0E0;
    padding: 5px 4px;
}

.agr-header-cart-icon i {
    color: #FAFAFA;
    font-size: 21px;
    width: 45px;
    height: 45px;
    background-color: var(--agr-button-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agr-header-cart-icon p {
    color: var(--agr-heading-color);
    font-family: var(--agr-heading-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;

}

/*----------------------------------
*hero section css
 ----------------------------------*/
.agr-hero-section-area {
    background-color: #f2f2f2;
    background-image: url('../img/Group-17.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 247px;
    padding-bottom: 247px;
}

/* --------------------------------------
* garden css
----------------------------------------- */
.agr-garden-area {
    padding-top: 154px;
    padding-bottom: 154px;
}

.agr-single-garden-area {
    padding: 109px 55px;
    /* padding-right: 260px; */
    border-radius: 50px;
    background-image: url('../img/garden-left.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.agr-single-garden-area.agr-garden-right {
    background-image: url('../img/garden-right.jpg');
}

/* --------------------------------------
* about us section css
----------------------------------------- */
.agr-about-us-area {
    background-color: #F9F8F8;
    background-image: url('../img/about-us.png');
    background-size: cover;
    background-position: left center;
    padding-top: 186px;
    padding-bottom: 74px;
}

.agr-about-single-food-img img{
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 110px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.agr-about-single-food-content h2 {
    font-family: var(--agr-heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: var(--agr-heading-color);
}

.agr-baout-right-food-button .agr-button {
    background-color: var(--agr-button-color);
    color: #fff;
}

.agr-baout-right-food-button .agr-button:hover {
    background-color: var(--agr-secondary-color);

}

/*----------------------------------
*product section css
 ----------------------------------*/
.agr-our-product-area {
    padding-top: 164px;
    padding-bottom: 164px;
}

.agr-product-heding {
    margin-bottom: 50px;
}

.agr-our-single-product {
    border-radius: 30px;
    background: #F9F8F8;
    padding: 30px;


}

.agr-single-product-img img {
    max-width: 100%;
    height: 300px;
}

.agr-single-product-cat a {
    color: #FFF;
    font-family: var(--agr-text-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: var(--agr-button-color);
    display: inline-flex;
    padding: 5px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.agr-single-product-name h2 {
    color: var(--agr-text-color);
    font-family: var(--agr-heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.agr-single-product-footer {
    border-top: 1px solid #DEDDDD;
    display: flex;
    justify-content: space-between;
}

.agr-single-product-footer p {
    color: #B8B8B8;
    font-family: var(--agr-heading-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.agr-single-product-footer p span {
    color: var(--agr-text-color);
    font-family: var(--agr-heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 5px;
}


.agr-testimonial-ratting i {
    color: var(--agr-secondary-color);
}

.agr-product-area-button {
    text-align: center;
    padding-top: 122px;
}

.agr-product-area-button .agr-button {
    background-color: var(--agr-button-color);
    color: #fff;

}

.agr-product-area-button .agr-button:hover {
    background-color: var(--agr-secondary-color);

}

/* -------------------------------------
agr-testimonial-area css
--------------------------------------- */
.agr-testimonial-area {
    background-image: url('../img/testimonail-bg.png');
    background-size: cover;
    background-color: #fcfcfc;
    background-repeat: no-repeat;
}

.agr-testimonail-top {
    padding-bottom: 60px;
}

.agr-single-testimonial-img img {
    max-width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 auto;
}

.agr-testimonial-ratting {
    margin-top: 20px;
}

.agr-single-testimonial {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.agr-single-testimonail-content {
    padding-left: 70px;
    padding-right: 60px;
    padding-top: 25px;
}

.agr-single-testimonial-client.agr-section-headig h2 {
    font-size: 25px;
    font-weight: 500;
}

.agr-testimonial-slider-area .owl-dots {
    text-align: center;
}

.agr-testimonial-slider-area .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #C4C4C4 !important;
    border-radius: 50%;
    margin: 5px;
}

.agr-testimonial-slider-area .owl-dots .owl-dot.active {
    background-color: rgb(236, 31, 31) !important;
}

/* ---------------------------
agr-exprience-area css
-------------------------------*/
.agr-exprience-area {
    margin-top: 102px;
    border-top: 1px solid #E0E0E0;
    padding-top: 102px;
}

.agr-exprience {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.agr-single-exprience-area {
    border: 5px solid green;
    border-radius: 50%;
    width: 211px;
    height: 211px;
    padding: 5px;
    background-color: #fff;
}

.agr-single-exprience {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* --------------------------------------
offer area css
----------------------------------------- */
.agr-offer-area {
    background: #274C5B;
    padding-top: 200px;
    padding-bottom: 200px;
}

.agr-offer-top-left.agr-section-headig h2 {
    color: white;
}

.agr-offer-top-right .agr-button:hover {
    background-color: #455359;
}

.agr-offer-area-slide .owl-nav {
    margin-top: 50px;
    display: flex;
    position: absolute;
    top: -188px;
    right: 295px;
    gap: 20px;
    /* gap: 84%; */
}

.agr-offer-area-slide .owl-nav span {
    font-size: 50px;
    color: #ffff !important;
    background-color: var(--agr-primary-color);
    padding: 12px 15px;
    border-radius: 8px;
}

.agr-offer-area-slide .owl-nav span:hover {
    background-color: var(--agr-secondary-color);
}

/* .agr-offer-area-slide .owl-nav i {
    font-size: 50px;
    color: #ffff !important;
    background-color: var(--agr-text-color);
    padding: 15px 20px;
    border-radius: 8px;
}
.agr-offer-area-slide .owl-nav i:hover{
    background-color: var(--agr-secondary-color);
} */











/* --------------------------------
agr-eco-friendly-area css
--------------------------------- */
.agr-eco-friendly-area {
    background-image: url('../img/eco-frndly.jpg');
    background-repeat: no-repeat;
    background-size: left center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 260px;

}

.agr-eco-friendly-right {
    background-color: #fff;
    width: 790px;
    height: 790px;
    flex-shrink: 0;
    padding: 77px 89px;
    border-radius: 50px;
}

.agr-eco-friendly-right-content {
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

/*----------------------------------------------
*juice css 
------------------------------------------------ */
.agr-organice-juice-area {
    background: #F1F8F4;
    padding-top: 187px;
    padding-bottom: 187px;
}

.juice-img-1 {
    background-image: url('../img/juce\ bg-1.jpg');
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
}

.juice-img-2 {
    background-image: url('../img/juce\ bg-2.jpg');
    width: 100%;
    ;
    height: 660px;
    background-repeat: no-repeat;
}

.juice-img-3 {
    background-image: url('../img/juce\ bg-3.jpg');
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
}

.agr-single-org-juice {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.agr-single-org-juice a {
    background-color: #fff;
    padding: 33px 83px 34px 83px;
    border-radius: 20px;
    font-family: var(--agr-heading-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ----------------------
agr-news css
------------------------ */
.agr-news-area {
    padding-top: 187px;
    padding-bottom: 187px;
}

.agr-news-top-right a {
    border: 1px solid black;
    border-radius: 8px;
    padding: 28px 45px;

}

.agr-news-top-right a:hover {
    background-color: rgba(123, 123, 123, 0.1);
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    color: rgba(198, 63, 80, 0.97);

}

.agr-single-news-area {
    position: relative;
}

.agr-single-news-date {
    position: absolute;
    background-color: #fff;
    top: 40px;
    left: 40px;
    border-radius: 50px;
    width: 82px;
    height: 82px;
}

.agr-single-news-date p {
    display: flex;
    justify-content: center;
    padding-top: 29px;
}

.agr-single-news-img img {
    width: 100%;
}

.agr-single-news-content {
    position: absolute;
    bottom: -67px;
    left: 67px;
    border-radius: 31px 34px 30px 30px;
    background: #FFF;
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
    width: 80%;
    display: inline-flex;
    padding: 46px 57px 60px 57px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.agr-single-news-author {
    margin-right: 227px;
}

.agr-single-news-author p {
    margin: 0;
}

/* --------------------------
agr-subscribe-area css
------------------------------ */

.agr-subscribe {
    background-image: url('../img/subscirbe-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 160px;
    border-radius: 50px;
}

.agr-subcribe-right .email-input {
    border-radius: 16px;
    background: #FFF;
    color: #ABABAB;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 23px;
    padding-right: 174px;
}

.agr-subscribe-left {
    padding-left: 85px;
}

.agr-subscribe-left.agr-section-headig h2 {
    color: #fff;
}

.agr-subcribe-right .agr-button {
    background-color: var(--agr-button-color);
    border: 0;
    color: #fff;
}

.agr-subcribe-right .agr-button:hover {
    background-color: var(--agr-secondary-color);
    color: var(--agr-text-color);
}

/*-----------------------------
*footer css 
-------------------------------- */
.agr-footer-area {
    margin-top: 160px;
    margin-bottom: 160px;
}

.agr-footer-organic-area a /img {
    margin-left: 100px;
}

.agr-footer-contact-us {
    border-right: 1px solid var(--agr-text-color);
    padding-right: 50px;
}

.agr-footer-area-utiligy-pages {
    border-left: 1px solid var(--agr-text-color);
    padding-left: 50px;
}

.agr-footer-organic-area-icon i {
    background-color: #d8f1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 50%;
}