/*--------------------------------
*genarel css
 --------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,700;1,500&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
}

:root {
    --agr-primary-color: #7EB693;
    --agr-text-color: #525C60;
    --agr-heading-color: #274C5B;
    --agr-secondary-color: #EFD372;
    --agr-button-color: #274C5B;
    --agr-heading-font: 'Roboto';
    --agr-subheading-font: 'Yellowtail';
    --agr-text-font: 'Open Sans';
}


/* --------------------------------------
common class
--------------------------------------- */
a {
    text-decoration: none;
}

.agr-section-headig h4 {
    color: var(--agr-primary-color);
    font-family: var(--agr-subheading-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.agr-section-headig h2 {
    color: var(--agr-heading-color);
    font-family: var(--agr-heading-font);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.agr-section-headig p {
    color: var(--agr-text-color);
    font-family: var(--agr-text-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;

}

.agr-button {
    font-family: var(--agr-heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--agr-button-color);    
    background-color: var(--agr-secondary-color);
    display: inline-flex;
    gap: 10px;
    padding: 28px 39px;
    border-radius: 16px;
    margin-top: 23px;
}
.agr-button:hover{
    background-color: var(--agr-button-color);
    color: #fff;
}



/*------------------------------------
*header css
 ------------------------------------*/
.agr-header {
    padding-top: 54px;
    padding-bottom: 54px;
}

.agr-primary-menu ul {
    display: flex;
    gap: 35px;
    margin: 0;
}

.agr-primary-menu ul li {
    list-style: none;
}

.agr-primary-menu ul li a {
    text-decoration: none;
    color: var(--agr-heading-color);
    font-family: var(--agr-heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px;
}

.agr-header-search {
    width: 65%;
}

.agr-header-search input {
    width: 270px;
    height: 60px;
    border-radius: 36px;
    background: #FAFAFA;
    border: 0;
}

.agr-header-search form {
    position: relative;
}

.agr-header-search form button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 4px;
}

.agr-header-search form input {
    padding-right: 60px;
    padding-left: 50px;
}

.agr-header-search form button i {
    color: #FAFAFA;
    font-size: 21px;
    width: 50px;
    height: 50px;
    background-color: var(--agr-primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.agr-header-cart {
    width: 45%;
}

.agr-header-cart-icon {
    border-radius: 33px;
    border: 1px solid #E0E0E0;
    padding: 5px 4px;
}

.agr-header-cart-icon i {
    color: #FAFAFA;
    font-size: 21px;
    width: 45px;
    height: 45px;
    background-color: var(--agr-button-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agr-header-cart-icon p {
    color: var(--agr-heading-color);
    font-family: var(--agr-heading-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;

}

/*----------------------------------
*hero section css
 ----------------------------------*/
.agr-hero-section-area {
    background-color: #f2f2f2;
    background-image: url("/img/Group 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 247px;
    padding-bottom: 247px;
}

/* --------------------------------------
* garden css
----------------------------------------- */
.agr-garden-area {
    padding-top: 154px;
    padding-bottom: 154px;
}

.agr-single-garden-area {
    padding: 109px 55px;
    /* padding-right: 260px; */
    border-radius: 50px;
    background-image: url('/img/garden-left.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.agr-single-garden-area.agr-garden-right {
    background-image: url('/img/garden-right.jpg');
}

/* --------------------------------------
* about us section css
----------------------------------------- */
.agr-about-us-area {
    background-color: #F9F8F8;
    background-image: url('/img/about-us.png');
    background-size: cover;
    background-position: left center;
    padding-top: 186px;
    padding-bottom: 74px;
}

.agr-about-single-food-img {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 110px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.agr-about-single-food-content h2 {
    font-family: var(--agr-heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: var(--agr-heading-color);
}
.agr-baout-right-food-button .agr-button{
    background-color: var(--agr-button-color);
    color: #fff;
}
.agr-baout-right-food-button .agr-button:hover{
    background-color: var(--agr-secondary-color);
    
}
